*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 100vw;
    background-color: #18181B;
}
form{
    max-width: 600px;
    margin: 0 auto;
    padding: 60px;
}

input,select, textarea, .radios,.checks{
    margin-bottom: 20px;
}

button{
    background-color: #68B92C;
}
.radios label, .checks label {
    margin-right: 20px;
}
label{
    text-align: left;
    display: block;
    margin: auto;
}