*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    font-size: 62.5%;
}
/* Estilos: */
body{
    max-width: 100vw;
    background-color: #1E1E1E;
    color: white;
    font-size: 2rem;
}
main{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
h1{
    color: white;
}
form{
    display: flex;
    margin: 0 740px;
    flex-direction: column;
    text-align: left;
}
form *{
    width: 100%;
}
button{
    background-color: green;
}
