*{
    box-sizing: border-box;
}
.background{
    margin: 0 auto;
    width: 850px;
    background-color: #181818;
    padding: 2rem;
    border-radius: 10px;
}
.infield{
    background-color: #363636;
    border-radius: 10px;
    padding: 2rem;
}
.header_question{
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}
#tag{
    padding: 0 20px;
    border: 1px solid #68B92C;
    border-radius: 2rem;
}
.question{
    background-color: #444;
    margin: 1rem 0;
}
.footer_question{
    display: flex;
    justify-content: space-between;

}
#responder{
    justify-self: end;
}