
.up-down{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 1.5rem;
}
.infield{
    display: flex;
    flex-direction: row;
}
.inside{
    width: 100%;
}
.answer{
    background-color: #444;
    border-radius: 5px;
    padding-left: 5px;
}
.header_answer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}
.option{
    background-color: rgba(0, 0, 0, 0) !important;
    padding: 0 !important;
    width: 2rem;
    text-align: center;
}