* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

/* Estilos: */
body {
    min-width: 355px;
    background-color: #1E1E1E;
    color: white;
    font-size: 2rem;
}

main {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 100px;
}

h1 {
    color: white;
}
h2{
    color: white;
}
#P_cabecalho{
    color: #71717A;
}
form {
    display: flex;
    width: 300px;
    margin: 0 auto;
    flex-direction: column;
    text-align: left;
}

button {
    background-color: green;
    height: 40px;
    letter-spacing: 3px;
}

p {
    margin-bottom: 1rem;
}
input{
    max-width: 100%;
    min-width: 100%;
    background-color: #3F3F46;
    outline: none;
    height: 40px;
    padding-left: 15px;
}
button.submitformbutton{
    color: white;
    font-weight: 600;
}
label,
button.submitformbutton {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

@media (min-width: 700px) {
    body{
        max-width: 100%;
    }
    form {
        margin: 0 auto;
        align-items: center;
    }
    
    input.campoformulario,button.submitformbutton {
        width: 400px;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

}