.bg-primary{
    background-color: #18181b;
}
.f-padding{
    padding: 10px;
}
.bg-home{
    /* background-color: #1e1e1e; */
    background-color: #27272a;
}
.bg-secondary{
    background-color: #363636;
}
.bg-terciary{
    background-color: #444;
}
.bg-green{
    background-color: #68B92C;
}