:root{
  animation-duration: 0.1ms;
  font-family: inter, Arial, sans-serif;
}
@font-face {
  font-family: inter;
  src: url('./Inter-Regular.ttf');
}
*{
  margin: 0;
  box-sizing: border-box;
}

/* corpo */

body{
  max-width: 768px;
  min-width: 320px;
  margin: 0 auto;
  font-size: 1rem;
  letter-spacing: 1px;
  color: white;
  
}

/* Header */

header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 10px;
  border-radius: 0 0 5px 5px;
}
#logout{
  margin-right: 10px;
}
#titleFeed{
  margin: 20px 0 10px 20px;
  color: white;
}
.protected-l{
  text-align: center;
  padding: 30px;
  height: 100vh;
}
.protected-l > *{
  max-width: 550px;
  width: 80%;
  margin:  40px auto !important;
}
.protected-l *{
  border-radius: 5px;
  color: white;
}
nav, ul{
  display: flex;
  list-style: none;
  padding: 0;
}
li{
  height: min-content;
  align-self: center;
}
a{
  text-decoration: none;
  width: fit-content;
  color: #8ab4f8;
}
a:hover{
  color: #BEF264 !important;
  font-weight: bold;
}
footer a{
  color: white;
}
header ul{
  gap: 30px;
}

.home p,h2,h3{
  margin: 10px;
}
button{
  font-size: 1rem;
}
footer{
  /* position: absolute;
  bottom: 0; */
  width: 100%;
  height: 7rem;
  border-radius: 5px 5px 0 0;
  padding-top: 15px;
}
main>img{
  margin: 30px 0;
}
footer nav>ul{
  min-width: 90%;
  margin: 0 auto;
  justify-content: space-between;
}

#MainHomeContainer{
  text-align: center;
  color: white;
}
/* Form */
form{
  align-self: center;
  margin: 10px 0;
}

.form-question > label{
  display: flex;
  flex-direction: column;
} 
.form-question > label > div{
  width: calc(100% - 20px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#lbl-question{
  height: min-content;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
}
#lbl-answer{
  display: flex;
  align-items: center;
  border-radius: 15px;
  padding: 0 10px 0 0;
}

/* Feed */
textarea{
  outline: none;
  font-size: 1rem;
}
textarea:not(#text-area-answer){
  resize: none;
  border: 0;
  min-width: 290px;
  max-width: 720px;
  width:calc(100% - 20px);
  margin: 10px auto;
  border-radius: 5px;
  padding: 10px;
  color: white;
}
textarea#text-area-answer{
  resize: none;
  border: 0;
  width: 100%;
  border-radius: 12px;
  color: white;
  padding: 0 10px;
}
textarea::placeholder{
  font-size: 1.05rem;
  margin: auto;
}

select{
  color: white;
  padding: 1px 10px;
  border: 1px solid #BEF264;
  border-radius: 10px;
}

button:not(.upDown){
  border: 0;
  border-radius: 10px;
  color: white;
  padding: 5px 15px;
}
.upDown{
  background-color: rgba(0, 0, 0, 0);
  border: none;
  font-size: 1.3rem;
}

.text-question{
  border-radius: 5px;
  color: white;
}
.foreground{
  border-radius: 5px;
  align-items: end;
}
.infield{
  border-radius: 5px;
}
.question-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.userName{
  display: flex;
  flex-direction: row;
  gap: 10px;
  color: white;
  margin: 7px 0 5px 5px;
  font-weight: 600;
}
.materiaName{
  color: white;
  border: 1px solid #BEF264;
  border-radius: 10px;
  height: min-content;
  padding: 1px 10px;
  align-self: center;
}

.underQuestion{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top:15px;
}
.underQuestion a{
  padding: 3px 10px;
  border-radius: 10px;
  color: white !important;
}
.underQuestion a:hover{
  color: white !important;
}
section{
  color: white;
}
#questionV_header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 0;
}
#createTime{
  display: block;
  text-align: end;
  color: rgb(133, 133, 133);
}
.container-ans{
  display: flex;
  flex-direction: row;
  width: 100%;
}
.container-ans>div{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.container-ans>div>div:first-child{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.up-down{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 10px 10px 0;
}
/* Estilização das páginas de formulários */
.bg-form{
  padding-top: 40px;
  background-color: #1e1e1e;
  color: white;
  text-align: center;
  height: 100vh;
}
.bg-form img{
  margin-bottom: 10px;
}
.bg-form h2{
  margin: 30px 0;
}
.bg-form label{
  display: block;
  min-width: 300px;
  max-width: 700px;
  width: 80%;
  margin: 10px auto;
}
.bg-form input{
  /* Por algum motivo os input type email e password não aceitam as formatações de background e color da fonte, então deixei padrão fundo branco com cor preta */
  background-color: white;
  height: 1.6rem;
  border: none;
  border-radius: 5px;
  width: 90%;
  padding: 15px;
}
.bg-form input::placeholder{
  font-size: 1.05rem;
}
.bg-form label>p{
  text-align: start;
  margin: 10px 0 10px 10%;
}
.bg-form a{
  color: #8ab4f8;
}
.bg-form button{
  width: 90%;
  text-align: center;
  border-radius: 5px;
  margin: 10px 0;
}
#TitleWeb{
  visibility: hidden;
  display: none;
}
@media (min-width: 769px){
  body{
    max-width: max-content;
    min-width: 769px;
    width: 100%;
    font-size: 1.1rem;
  }
  header{
    width: 100vw;
    height: 7rem;
    align-items: center;
    padding: 0 3rem !important;
  }
  .home > header li:first-child{
    border-right: 3px solid #BEF264;
    padding-right: 35px;
  }
  main{
    width: 100vw;
  }
  footer{
    width: 100vw;
    padding: 1rem 3rem;
  }
  #MainHomeContainer{
    padding: 2rem 5rem;
    font-size: 1.5rem;
    line-height: 3rem;
    
  }
  #MainHomeContainer p{
    font-size: 0.98rem;
    
  }
  #TitleMobile{
    display: none;
    visibility: collapse;
  }
  #TitleWeb{
    display: contents;
    visibility: visible;
  }
  .bg-form{
    width: 100vw;
    align-items: center;
  }
  .bg-form>form{
    margin: 0 40px;
  }
  .bg-form label{
    min-width: 22rem;
    max-width: 30rem;
    width: 90%;
  }
  .bg-form input,button{
    font-size: 1.3rem;
    height: 2.1rem;
  }
  #MainInicioContainer{
    max-width: 800px;
    margin: 0 auto;
  }
  #MainInicioContainer a,span{
    height: 2rem;
  }
  select{
    font-size: 1.2rem;
  }
  textarea{
    width: 100% !important;
    max-width: none !important;
    min-width: max-content;
    height: 6rem;
    width: 100%;
  }
  #lbl-question{
    padding: 20px;
  }
  #lbl-question>div{
    width: 100%;
  }
  section{
    margin: 0 auto;
    max-width: 800px;
  }
  #info{
    margin-top: 10px;
  }
  #lbl-answer{
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 10px;
    background-color: #363636;
    padding: 0;
  }
  #text-area-answer{
    padding: 20px !important;
    font-size: 1.1rem;
  }
  div{
    border-radius: 5px;
  }
  .protected-l{
    width: 100vw;
  }
  .protected-l > *{
    max-width: 800px;
  }
}
@media (min-width: 1024px){
  #MainHomeContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
  }
  #MainHomeContainer>div{
    padding: 15px;
    display: flex;
    flex-direction: column;
    max-width: 50%;
    gap: 2rem;
    background-color: #3F3F46;
  }
  #MainHomeContainer h3{
    background-color: #1e1e1e;
  }
  footer{
    height: 9rem;
    position: fixed;
    bottom: 0;
  }
}